<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazhi.blogprovider.blog.mapper.AttractionsMapper">

    <!-- 使用resultMap映射实体类和字段之间的一一对应关系 -->
    <resultMap type="com.dazhi.blogprovider.blog.entity.Attractions" id="Attractions">
        <id property="id" column="id"/>
        <collection property="details" column="id" ofType="com.dazhi.blogprovider.blog.entity.AttractionsDetail" select="getDetail"/>
    </resultMap>

    <select id="getByIdWithDetail" resultMap="Attractions">
        select * from attractions where id = #{id}
    </select>

    <select id="getDetail" parameterType="Long" resultType="com.dazhi.blogprovider.blog.entity.AttractionsDetail">
        SELECT * FROM attractions_detail WHERE attractions_id=#{id}
    </select>
</mapper>
