<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazhi.blogprovider.blog.mapper.TvClassificationMapper">


    <!-- 使用resultMap映射实体类和字段之间的一一对应关系 -->
    <resultMap type="com.dazhi.blogprovider.blog.entity.TvClassification" id="TvClassification">
        <id property="id" column="id"/>
        <collection property="child" column="id" ofType="com.dazhi.blogprovider.blog.entity.TutorialTv" select="getChild"/>
    </resultMap>

    <select id="getWithDetailByPid" resultMap="TvClassification">
        select * from tv_classification where pid = #{pid}
    </select>

    <select id="getChild" parameterType="Long" resultType="com.dazhi.blogprovider.blog.entity.TutorialTv">
        SELECT * FROM tutorial_tv WHERE pid=#{id}
    </select>
</mapper>
